.*{
	padding:0px;
	margin: 0px;
}
.top-bar1{
	height: 40px;
    background: green;
    color: #999;
    top: 0;
    position: fixed;
    z-index: 10000;
    width: 100%;
    left: 0;
    min-width: 990px;
}
.w{
	position: relative;
	top:0px;
	left: 0px;
}
.logo_wrap2 {
    overflow: visible;
    padding-top: 50px;
    height: 65px;
    margin: auto;
    width: 990px;
}
.logo_wrap2 .logo_inner{
	background: url(../img/logo.png) no-repeat scroll left center/108px auto;
	width: 108px;
}
.left{
	float: left;
}

.logo_wrap2 .logo_inner a{
	display: block;
    height: 60px;
    overflow: hidden;
    text-indent: -9999em;
}
a{
	color:#333;
	text-decoration: none;
	cursor: pointer;
}
.logo_wrap2 .logo_current{
	height: 30px;
    line-height: 30px;
    margin: 15px 0 0 10px;
    padding: 0 0 0 10px;
} 
h1{
    font-size: 100%;
    font-weight: 400;
    display: block;
}
.logo_wrap2 .logo_current a{
	text-decoration:none;
	color:#fff;
	background:#ff838b;
	border-radius: 5px;
	font-size:20px;
	padding:0px 10px;
	display:block;
}
.right{
	float:right;
}
.logo_wrap2 .logo_search{
	padding-top:19px;
}
.logo_wrap2 .logo_search .search_Btn {
	border-radius:0px 3px 3px 0px;
	width: 80px;
	height: 28px;
	font-size: 14px;
	color:#fff;
	text-indent:35px;
    line-height:28px;
    background: #999 url(../img/search.png) no-repeat scroll 12px center/16px auto;
}

.logo_wrap2 .logo_search .search_Btn:hover{
     color: white;
     background-color:#ff6767;
}
.logo_wrap2 .logo_search .search_Text{
    width: 160px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0px 0px 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
}
.logo_nav{
	float:right;
	padding:0 40px 0px 0px;
	height:40px;
}
.logo_nav a.on {
    color: #ff6767;
}
.logo_nav a{
    position: relative;
    float: left;
    padding: 0 10px 5px;
    font-size: 20px;
    line-height: 60px;
}
a{
	text-decoration: none;
	color:#333;
}
.logo_nav a:hover{
    color: #ff6767;
}
.logo_nav a.on i{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #ff6767;
    font-style: normal;
}
.logo_nav a.on b {
    position: absolute;
    bottom: -1.3px;
    left: 50%;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin-left: -9px;
    width: 0;
    height: 0;
    border: 9px dashed transparent;
    border-bottom: 9px solid #fff;
    font-weight:400px;
}
.nav_wrap2{
    padding:0px;
    margin:0px;
	height: 34px;
	border-bottom:1px solid red;
	border-top: 1px solid red;
	margin: auto;
	width: 990px;
}
ol,ul{
	list-style: none;
}
.nav_wrap2 li{
	float:left;
	padding:0 10px;
}
.nav_wrap2 a.on{
	color：#676767;
}
.nav_wrap2 a{
    display: block;
    padding: 0 3px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
}
.nav_wrap2 a:hover{
     color: #ff6767;
}
.mt10{
	margin-top: 10px;
}
.w{
	width: 990px;
	margin-left:auto;
	margin-right: auto;
}
.clear{
	zoom:1px;
}
.i1{
	// padding:0px;
	// margin:0px;
	background:url(img/6.jpg) no-repeat center;
}
.wrap .w{
    background-color: #fff;
    padding: 10px 0;
}
.mt20{
	margin-top:20px;
}
.category_sub {
    margin: 0 0 30px 0;
    width: 100%;
    overflow: hidden;
    background: #f8f8f8;
    position: relative;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.category_sub h3 {
    float: left;
    font-size: 24px;
    font-weight:40px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 186px;
    color: #666;
}
.category_sub ul {
    width: 804px;
    float: right;
    background: #fff;
    margin-bottom: -1px;
    overflow: hidden;
}
ul{
	padding:0px;
	margin:0px;
}
li{
	float:left;
	position:relative;
}
.category_sub a {
    float: left;
    height: 70px;
    line-height: 64px;
    width: 133px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.category_sub a:hover{
	color:#ff6767;
	cursor: pointer;
    background-color:#f8f8f8;
}



/* 底部 */
.foot{
    padding: 26px 0;
}
.foot .w{
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
}
.foot1{
    clear: none;
    float: left;
    font-size: 11px;
    color: #666;
    width: 680px;
    padding-top: 10px;
}
.foot1 .b{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}
.foot1 .b a{
    color: #ffa859;
}
.foot1 .b a:hover{
    color: #ff6767;
}
.foot1 .c{
    color: #aaa;
    font-size: 12px;
    margin-bottom: 6px;
}
.foot2{
    clear: none;
    float: right;
    text-align: center;
    margin: 10px 0;
}
.foot2 img{
    width: 82px;
}
.foot3{
    padding: 0 10px;
}



/* 回到顶部 */
.fixed-footer{
    position: fixed;
    bottom: 10px;
    left: -9999px;
    z-index: 102410;
    height: 58px;
}
.fixed-footer-go{
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline;
    width: 58px;
    height: 58px;
    background: url(../img/gotop.png) no-repeat scroll center center/58px 58px;
}
